@import url("https://fonts.googleapis.com/css?family=Karla&display=swap");

:root {
  /* ----  colors  ----*/
  --light-gray: hsl(204, 43%, 93%);
  --cyan: hsl(179, 62%, 43%);
  --off-cyan: hsla(179, 62%, 43%, 0.699);
  --bright-yellow: hsl(71, 73%, 54%);
  --grayish-blue: hsl(218, 22%, 67%);

  --font-family: "Karla", sans-serif;
  --font-size: 1em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--light-gray);
  height: 100vh;
  font-family: var(--font-family);
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
